* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#HeaderContainer{
  display: flex;
  align-items: center;
  background-color: #cbc9c8;
  margin-bottom: 4%;
}
#HeaderContainer nav{
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 5%;
  font-size: large;
}

#BarLogo{
    width: 8%;
    height: auto;
}
#TopLeftProject{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 10px;
    color: rgb(22, 98, 13);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

nav {
  padding: 20px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

.home HelloWorld{
  font-size: xxx-large;
}

.about {
  text-align: center;
  margin-bottom: 45px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
  height: auto;
}

.card {
  /*border: solid rgb(88, 219, 95) 5px ;
  border-radius: 10px;*/
  background-color: rgba(255, 153, 0, 0.038);
  border-radius: 10px;
  white-space: nowrap;
  padding: 10px;
  margin: 1%;
  transition: 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header button {
  border: none;
  background: none;
  font-weight: 500;
  font-size: large;
}

button.active {
  color: red;
}

.card-header h3{
  text-align: center;
  margin: 0;
  flex: 1;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.ImgPreview {
  width: 100%;
  max-width: 300px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.modal {
  text-align: center;
}

.CRUD {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HomeLink {
  text-decoration: none;
  color: inherit;
}